{% extends 'base.html' %}
{% block title %}Contact Us | StartUp Predictor{% endblock %}
{% block content %}
  <div class="content" style="margin-top: -15px;">
    <h1>Contact Us</h1>
    <p style="margin-top: -40px;">Have a question, comment, or suggestion? Fill out the form below and we'll get back to you as soon as possible.</p>
    <form action="{% url 'contactUs' %}" method="post">
      {% csrf_token %}
      <div class="input-group">
        <label for="name" style="padding-right: 1.5rem;">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="input-group">
        <label for="email" style="padding-right: 1.75rem;">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="input-group">
        <label for="subject" style="padding-right: 0.75rem;">Subject:</label>
        <input type="text" id="subject" name="subject" required>
      </div>
      <div class="input-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" cols="50"></textarea>
      </div>
      <div class="button-group">
        <button type="submit">Send</button>
      </div>
    </form>
  </div>
{% endblock %}
