{% extends 'base.html' %}

{% block content %}
<section id="section1">
  <h1>Welcome to Our Startup Predicting Platform</h1>
  <p>Make data-driven investment decisions for emerging startups. Our machine learning model predicts which startups are most likely to be successful over the next five years. Say goodbye to blind investing and discover your next investment opportunity with us.</p>
</section>

<section id="sectionx">
  <div class="container">
    <h2>What Makes a Startup Successful?</h2>
    <p class="subtitle">Our model has analyzed over 10,000 startups and identified key factors for success. A strong founding team,
      diversified revenue sources, and efficient use of funds are just a few of the attributes of successful startups.
      Our data-driven approach provides a competitive edge in today's market.</p>
  </div>
</section>


<section id="sectiony">
  <div class="container">
    <h2>Our Data Collection and Analysis Process</h2>
    <p class="subtitle">We've gathered data from diverse sources to build the most comprehensive startup success model. Our
      analysis considers over 50 different features, from funding to industry sector, to provide the most accurate
      prediction.</p>
  </div>
</section>

<section id="section1" style="background-color: #FAF5E9;">
  <div class="container">
    <h1 style="color: #0A6522;margin-top: -180px;">The Future of Startup Investing</h1>
    <p style="color: #0A6522;">With the increasing number of startups emerging every year, 
      investors face an overwhelming challenge deciding which ones to invest in. Our machine learning model provides the data-driven solution to make informed investment decisions and maximize returns. Try it out today.</p>
       <div class="button-group">
        <button>Try it now</button>
      </div>
  </div>
</section>

<section id="sectiony">
  <div class="container" style="padding-top: 70px;">
    <h2 style="  font-size: 99px; text-align: right;">Top 10 Picks for Successful Startups</h2>
    <p style="font-size: 18px; text-align: left; line-height: 1.5; max-width: 800px;
    margin: 0 auto; margin-top:-40px; margin-left: 30px;margin-bottom: 50px;">With the increasing number of startups emerging every year, investors face an overwhelming challenge
      deciding which ones to invest in. Our machine learning model provides the data-driven solution to make
      informed investment decisions and maximize returns.Browse through the top 10 startups predicted to be successful over the next five years according to our model. Invest
      with confidence and maximize your returns.</p>
      <div class="button-group">
        <button style="background-color: #FAF5E9; color: #003D1F;">Browse now</button>
      </div>
  </div>
</section>

{% endblock %}
