{% extends 'base.html' %}
{% block title %}StartUp Predictor{% endblock %}
{% block content %}
  <div class="loader">
    <p style="color: #FEFD97">Loading...</p>
    <div class="progress-bar">
      <div class="progress-bar-fill"></div>
    </div>
  </div>
  <script>
    function showProgress() {
      var progressBar = document.querySelector(".progress-bar");
      progressBar.style.display = "block";
      var progressFill = document.querySelector(".progress-bar-fill");
      var width = 1;
      var interval = setInterval(function() {
        if (width >= 100) {
          clearInterval(interval);
          window.location.href = "{% url 'results_view' %}";
        } else {
          width++;
          progressFill.style.width = width + '%';
        }
      }, 50); // change the interval time (in ms) to slow down the progress bar
      return true;
    }

    document.addEventListener("DOMContentLoaded", function() {
      showProgress();
    });
  </script>
{% endblock %}
