{% extends 'base.html' %}

{% block scripts %}
<script>
var xmlhttp = new XMLHttpRequest();
xmlhttp.open("GET", "api", true);
xmlhttp.onreadystatechange = function()
{
	if (this.readyState == 4 && this.status == 200)
	{
		var responseJsonObj = JSON.parse(this.responseText);

		console.log( responseJsonObj.ticker );
		console.log( responseJsonObj.action );

    p = document.getElementById("result_p");
    p.innerHTML += ": "+ responseJsonObj.action
	}
};
xmlhttp.send();
</script>
{% endblock %}
{% block content %}
  <div class="content">
    <h1>Predictions</h1>
    <p>The name of the startup you entered is: {{ result }}</p>
    <a href="{% url 'roi' %}"><button>Go Back</button></a>
  </div>
{% endblock %}