ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.banner a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.input-group label {
  font-size: 18px;
  margin-right: 10px;
}

.input-group input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  max-width: 100%;
}

.button-group {
  display: flex;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46.4px;   /* Height of the footer */
  background-color: #666;
  color: white; /* Set the color of the text to white */
  text-align: center; /* Center the text within the footer */
}

/* HOMEPAGE */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#startup-predictor {
  width: 500px; /* Set the width of the predictor */
  height: 500px; /* Set the height of the predictor */
  /* Add styles for the predictor */
}

.developer-info {
  margin-top: 20px;
  text-align: center;
}
