{% extends 'base.html' %}

{% block scripts %}
<script>
var xmlhttp = new XMLHttpRequest();
xmlhttp.open("GET", "api", true);
xmlhttp.onreadystatechange = function()
{
	if (this.readyState == 4 && this.status == 200)
	{
		var responseJsonObj = JSON.parse(this.responseText);

		console.log( responseJsonObj.ticker );
		console.log( responseJsonObj.action );

    p = document.getElementById("result_p");
    p.innerHTML += ": "+ responseJsonObj.action
	}
};
xmlhttp.send();
</script>
{% endblock %}
{% block title %}{{ startup_name }} | StartUp Predictor{% endblock %}
{% block content %}
  <div class="content">
    <h1>Predictions</h1>
    <p>Based on our projections, we anticipate that an investment of {{ amount_to_invest }} USD in {{startup_name}} will generate a return on investment (ROI) of <b>{{result}} USD</b> over the course of the next 5 years.</p>
    <a href="{% url 'roi' %}"><button>Go Back</button></a>
    <a href="{% url 'details'%}"><button style="margin-top: 20px;">Explore {{startup_name}}</button></a>
  </div>
{% endblock %}
